.header{
  color: white;
}

div{
    margin-bottom: 40px;
}

table {
    width: 50%;
    position: relative;;
  top:0;
  left:0;
  right:0;
  bottom:0;
  margin:auto;

  }

  .example-container {
    height: 850px;
    overflow: auto;
    
  }

  .mat-raised-button{
    cursor: pointer;
    margin: 0 0.5rem;
    width: 150px;
  }

.mat-header-cell {
    text-align: center;
}


 